<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>simple-colors demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../simple-colors-picker.html">
    <style>
      .picker {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
        padding: 20px;
      }
      .picker > * {
        display: inline-flex;
        align-self: center;
        margin-right: 0.5em;
        --simple-colors-picker-preview-size: 1.25em;
      }
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h1>simple-colors color picker</h1>
      <demo-snippet id="picker">
        <template>
          <div class="picker">
            <label for="picker-element">Simple Colors Picker: </label>
            <simple-colors-picker id="picker-element"></simple-colors-picker>
          </div>
          <script>
            document.getElementById('picker-element').addEventListener('change', function(e){
              alert('You selected: \n'+JSON.stringify(e.detail).replace('{','{\n\t').replace(/","/g,'",\n\t"').replace(/":"/g,'": "').replace('}','\n}'));
            });
          </script>
        </template>
      </demo-snippet> 
    </div>
  </body>
</html>
